<!--<div>
  <h1>Showing Events for the week of {{ weekOf | date:'MMM dd, yyyy':'UTC' }}</h1>
  <table>
    <ng-container *ngFor="let day of Events; let i=index">
      <ng-container *ngIf="day.length > 0">
        <tr><th colspan="2">
          {{ day[0].eventDate | date:'MMM dd, yyyy':'UTC' }}
        </th></tr>
        <tr *ngFor="let event of day">
          <td>{{ event.startTime }} - {{ event.endTime }}</td>
          <td>{{ event.activityDescription }} </td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
  <button on-click="previous()">Previous</button>
  <button on-click="next()">Next</button>
</div>-->
<h3>test</h3>