<div>
  <h1 class="title">Zenith Events</h1>
  
  
  <table class="table table-bordered zenith-table">
    <tr><button on-click="getPrevious()">Previous</button><button on-click="getNext()">Next</button></tr>
    <ng-container *ngFor="let event of events">
      <ng-container *ngIf="event.length > 0">
        <tr>
          <th class="table-head" colspan="2" style="text-align:center;">
            {{event[0].dateFrom | date: d}}
          </th>
        </tr>
          <tr *ngFor="let e of event">
            <td width="20%">
              {{e.dateFrom | date: "h:mma"}} - {{e.dateTo | date: "h:mma"}}
            </td>
            <td>{{e.activityCategory.activityDescription}}</td>
          </tr>
      </ng-container>
    </ng-container>
  </table>
  
  
</div>
<!--
<table class="table table-bordered zenith-table">
  foreach (var item in dict)
  {
      <tr>
          <th class="table-head" colspan="2" style="text-align:center;">
              @(item.Key.ToString("D"))
          </th>
      </tr>
      foreach (var desc in @item.Value)
      {
          <tr>
              <td width="20%">
                  @(desc.DateFrom.ToString("h:mm tt "))
                  -
                  @(desc.DateTo.ToString(" h:mm tt"))
              </td>
              <td>
                  @(desc.ActivityCategory.ActivityDescription)
              </td>
          </tr>
      }
  }
</table>

-->